main{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}
.pais{
    border: solid 1px black;
    width: 20em;
    height: fit-content;
    padding: 10%;
    margin: 30px;
    border-radius: 30%;
}

.pais ul{
    list-style: none;
    padding-left: 0;
}

.pais img{
    width: 50%;
}

.pais ul .name{
    font-size: 22px;
    font-weight: bold;
}

.pais ul .cap{
    margin-bottom: 10px;
}