body{
    background-color: aliceblue;
}

.new{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 1em;
    width: fit-content;
    padding: 0.8em;
    margin: 5em auto auto auto;
    background-color: white;
}

.new form input{
    display: block;
    margin-bottom: 2em;
    margin-top: 0.5em;
}

.new form .dato{
    width: 95%;
    height: 2em;
}

.new form label{
    text-transform: uppercase;
}

.new form .add{
    margin-left: 10em;
}