button{
    width: 300px;
    height: 35px;
    margin: 0.5%;
    margin-right: 2.147%;
    border: #0099ff solid 1px;
    border-radius: 10px;
    background-color: #0099ff;
    color: #ffffff;   
    text-transform: uppercase;
}

button:hover{
    background-color: #0077cc;
}