body{
    display: grid;
    place-items: center;
}

table{
    border-collapse: collapse;
}

table tr:nth-of-type(1) td:nth-of-type(1)
{
    text-align: center;
    background-color: orange;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

td{
    border:solid black 1px;
    width: 100px;
    padding: 5%;
}