main .product{
    border: solid 1px black;
    width: 20%;
    margin: auto;
    margin-top: 3%;
    padding: 2%;
}

main .product{
    text-align: center;
}

main .product img{
    width: 100%;
}

footer{
    text-align: center;
}